<!DOCTYPE html>
<html>

<head>
    <title>Weather Data</title>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
</head>

<body>
    <div id="weatherChart" style="width: 100%; height: 90vh;"></div>

    <script>
        var chart;  // Make the chart a global variable so it can be accessed in updateTimeRange
        var params = new URLSearchParams(window.location.search);
        var limit = params.get('limit');

        if (limit === null) {
            limit = 288; // Last 24hrs
        }

        function fetchDataAndRenderChart() {
            // Fetch data from your API or server
            fetch(`/data?limit=${limit}`)
                .then(response => response.json())
                .then(data => {
                    const timestamps = data.map(item => item[1]);
                    const air_temperatures = data.map(item => [item[1], item[2]]);
                    const apparent_temps = data.map(item => [item[1], item[3]]);
                    const rel_humidities = data.map(item => [item[1], item[4]]);
                    const wind_spd_kmhs = data.map(item => [item[1], item[5]]);
                    const gust_kmhs = data.map(item => [item[1], item[6]]);
                    const options = {
                        chart: {
                            type: 'line',
                            height: '100%'
                        },
                        stroke: {
                            width: [3, 1, 1, 1, 1],
                            curve: 'smooth',
                            dashArray: [0, 1, 1, 1, 1],
                            op
                        },
                        series: [{
                            name: 'Air Temperature',
                            data: air_temperatures,
                        }, {
                            name: 'Apparent Temperature',
                            data: apparent_temps
                        }, {
                            name: 'Relative Humidity',
                            data: rel_humidities
                        }, {
                            name: 'Wind Speed',
                            data: wind_spd_kmhs
                        }, {
                            name: 'Gust Speed',
                            data: gust_kmhs
                        }],
                        annotations: {
                            xaxis: [{
                                x: new Date().getTime() + (24 * 60 * 60 * 1000), // 24 hours from current time
                                borderColor: '#999',
                                label: {
                                    borderColor: '#999',
                                    style: {
                                        color: '#fff',
                                        background: '#00E396'
                                    },
                                    text: '24 Hours'
                                }
                            }]
                        },
                        fill: {
                            colors: ['blue', 'cyan', 'green', 'red', 'red'],
                            opacity: [1, 0.5, 0.5, 0.5, 0.5],
                            type: "gradient",
                            gradient: {
                                shadeIntensity: 1,
                                type: 'vertical',
                                gradientToColors: ['orange', 'orange', '#a6f1a6', 'yellow', 'orange'],
                                opacityFrom: 1,
                                opacityTo: 1,
                                stops: [0, 100, 100, 100]
                            }
                        },
                        xaxis: {
                            type: 'datetime',
                            categories: timestamps,
                            labels: {
                                format: 'dd/MM HH:mm'
                            },
                            range: 48 * 60 * 60 * 1000
                        },
                        yaxis: {
                            title: {
                                text: 'Value'
                            }
                        },
                        title: {
                            text: 'Weather Data - Updated: ' + timestamps[0]
                        },
                        tooltip: {
                            x: {
                                format: 'dd/MM HH:mm'
                            }
                        },
                        datalabels: {
                            enabled: true,

                        }
                    };

                    if (chart) {
                        chart.updateOptions(options); // Update the existing chart
                    } else {
                        chart = new ApexCharts(document.querySelector("#weatherChart"), options);
                        chart.render();
                    }
                });
        }

        fetchDataAndRenderChart(); // Fetch data and render chart initially

        setInterval(fetchDataAndRenderChart, 600000); // Fetch data and render chart every 10 minutes

        function updateTimeRange() {
            var timeRange = document.getElementById("timeRange").value;
            window.location.href = window.location.pathname + '?limit=' + timeRange;
        }
    </script>
</body>

</html>